
.nav_main{
  background-color: #fff !important;
  
}

.box_in {
  border: 4px solid black !important;
}

.wallet_button {

  margin-top: 1em;
  margin-bottom: 1em;

}
.main{
  padding-top: 50px;
  min-height: 100vh;
}

.main h1{
  
  font-weight: bold;
  color: rgb(0, 0, 0);
}

.main b{
  color: rgb(0, 0, 0) !important;
}


.lotteryinfo a{
  font-size: .9em ;
}

.lotteryinfo ul li {
  list-style-type: none;
}



