@charset "utf-8";

// Import a Google Font
@import url('https://fonts.googleapis.com/css2?family=Source+Sans+Pro:ital,wght@0,200;0,700;0,900;1,400;1,700;1,900&display=swap');

// Set your brand colors#9271C2
$purple: #3b2f00;
$pink: #FFD83D; 
$brown: #020202; 
$beige-light: #FFF;
$beige-lighter: #ffffff;

// Update Bulma's global variables
$family-sans-serif: "Nunito", sans-serif;
$grey-dark: $brown;
$grey-light: $beige-light;
$primary: $purple;
$link: $pink;
$widescreen-enabled: false;
$fullhd-enabled: false;

// Update some of Bulma's component variables
$body-background-color: $beige-lighter;
$control-border-width: 2px;
$input-border-color: transparent;
$input-shadow: none;

// Import only what we need from Bulma
@import "../../node_modules/bulma/sass/utilities/_all.sass";
@import "../../node_modules/bulma/sass/base/_all.sass";
@import "../../node_modules/bulma/sass/elements/button.sass";
@import "../../node_modules/bulma/sass/elements/container.sass";
@import "../../node_modules/bulma/sass/elements/title.sass";
@import "../../node_modules/bulma/sass/form/_all.sass";
@import "../../node_modules/bulma/sass/components/navbar.sass";
@import "../../node_modules/bulma/sass/layout/hero.sass";
@import "../../node_modules/bulma/sass/layout/section.sass";
@import "../../node_modules/bulma/bulma.sass";

$breakPointWidth: 1024px;
@mixin mobile{
    @media (max-width: #{$breakPointWidth}){
        @content
    }
}
//my code
.min-menu{
  margin-left: 1rem;
}
.navbar-brand{
  width: 100px;
  display: flex;
  justify-content: center;
  align-items: center;

  img{
    width: 100%;
    
    justify-content: center;
    margin-top: 5px;
   

  }
}
@include mobile{
  .gone {
    display:none;
  } }
.footer {
    background-color: #fafafa;
    padding: 3rem 1.5rem 6rem; }
  
  
    
  .nav_main{
    background-color: #fff;
    height: 65px;
    
  }

  .columns {
    margin: 2em;
    
  }
  
  //GAME BOX
  .box_in {
    margin-top: 4em;
    border: 4px solid transparent;
    border-radius: 10px;
    /* From https://css.glass */
  background: rgba(255, 255, 255, 0.2);
  border-radius: 16px;
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(5px);
  -webkit-backdrop-filter: blur(5px);
  border: 1px solid rgba(255, 255, 255, 0.3);
    background-color: #fcfcfc;
  }
  
  .wallet_button {
  
    margin-top: 1em;
    margin-bottom: 1em;
  
  }
  .main{
    padding-top: 50px;
    min-height: 100vh;
    background-color: #fff;
  }
  
  .main h1{
    
    font-weight: bold;
    color: #fff;
  }
  

  
  
  .lotteryinfo a{
    font-size: .9em ;
  }
  
  .lotteryinfo ul li {
    list-style-type: none;
  }
  
  li{
    align-self: left;
    color: #000;
    margin-bottom: 1rem;
    text-align: left ;
    margin-left: 3rem;
    a {
        color: $primary !important ;
    }
    span {
        color: #000;
        font-weight: bold;}
  }
  #email{
    color:black;
   span{
    color: rgb(58, 206, 125);
    font-weight: 600;
  }}

  button img {
    margin-top: .3rem;
      height: 25px;
      filter: invert(100%);
      margin-right: 1rem;
  }
  .footer {
    min-width: 100%;
    display: flex;
  
    padding: 2rem 0;
    justify-content: center;
    align-items: center;
    background-color: #000000;
  }
  
  .footer a {
    display: flex; 
    flex-direction: column;
    justify-content: center;
    align-items: center;
    flex-grow: 1;
  }
  
  
    .footer__container{
      background-color: #000000;
      padding: 5rem 0;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
    
    }
    
    #footer__logo {
      color:#fff;
      display: flex;
      align-items: center;
      cursor: pointer;
      text-decoration: none;
      font-size: 2rem;
    }
    
    .footer__links{
      width: 100%;
      max-width: 1000px;
      justify-content: center;
      display: flex;
      flex-direction: row;
    
    }
    
    .footer__link--wrapper{
      display: flex;
    
    }
    
    .footer__link--items {
      display: flex;
      flex-direction: column;
      align-items: flex-start;
      margin: 16px;
      text-align: left;
      width: 160px;
      box-sizing: border-box;
    
    }
    
    .footer__link--items h2{
      margin-bottom: 16px;
    
    }
    
    .footer__link--items >h2 {
      color: #fff;
    }
    
    .footer__link--items a{
      color: #fff;
      text-decoration: none;
      margin-bottom: 0.5rem;
    }
    
    .footer__link--items a:hover{
      color: $primary;
      transition: 0.3s ease-out;
    }
    
    .social__icon--link{
      color: #fff;
      font-size: 24px;
    
    }
    
    .social__media{
      max-width: 1000px;
      width: 100%;
    }
    
    .social__media--wrap{
      display: flex;
      justify-content: space-between;
      align-items: center;
      width: 90%;
      max-width: 1000px;
      margin: 40px auto 0 auto;
    }
    
    #logo__footer{
      
      width: 100%;
      position: relative;
      right: 80px;
      z-index: 9;
      
    }
    
    .social__icons{
      display: flex;
      justify-content: space-between;
      align-items: center;
      width: 240px
    }
    
    .social__logo{
      color: #fff;
      justify-self: flex-start;
      margin-left: 20px;
      cursor: pointer;
      text-decoration: none;
      font-size: 2rem;
      display: flex;
      align-items: center;
      margin-bottom: 16px;
    
    }
    
    .website__rights{
      color: #fff;
    }
  
  
    #jumbotron {
      background-image: url(../../public/hexellence.png) ;
  
      padding: 2rem 2rem;
      width: full;
      background: cover;
    }
    
    #jumbotron .title { 
      
      font-weight: 2000;
      font-size: 5rem;
  
      margin-bottom: .8rem;
      color: #181300; //CHANGE TITLE COLOR
    }
    
    #jumbotron .subtitle {
      font-size: 1.6rem;
      display: none;

        &.active {
            display: block;
        }

    }

    .subtitle-updated {
        font-size: 1.6rem;

        &.active {
            display: none;
        }

        
    }